@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

a, p {
   font-family: 'East Sea Dokdo', cursive;
}
a:hover:not(.currnet){
   color: gray;
}

#nav{
   background-image: url("../public/home/Banner.png");
}

footer{
   background-image: url("../public/home/Banner.png");
   color: black;
}

#wrapper{
   min-height: 100%;
}

img{
   height: 300px;
}
