@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

img{
   height: 300px;
}

footer{
   color: black;
}

#wrapper{
   min-height: 100%;
}

a {
   font-size: 18px;
}